obj/
bin/
Spider.Invoicing.API/.vs/Spider.Invoicing.API/v15/Server/sqlite3/storage.ide-wal
Spider.Invoicing.API/.vs/Spider.Invoicing.API/v15/Server/sqlite3/storage.ide-shm
Spider.Invoicing.API/.vs/Spider.Invoicing.API/v15/Server/sqlite3/storage.ide
Spider.Invoicing.API/Spider.Invoicing.API/Logs/spider-invoicing-api-20180210.txt
Spider.Invoicing.API/.idea/.idea.Spider.Invoicing.API/riderModule.iml
Spider.Invoicing.API/.idea/
