obj/
bin/
Spider.Invoicing.API/.vs/Spider.Invoicing.API/v15/Server/sqlite3/storage.ide-wal
Spider.Invoicing.API/.vs/Spider.Invoicing.API/v15/Server/sqlite3/storage.ide-shm
Spider.Invoicing.API/.vs/Spider.Invoicing.API/v15/Server/sqlite3/storage.ide
